.mainSection {
    display: flex;
    box-shadow: inset -5px 0 100px -3px rgba(0,0,0,0.3), inset 5px 0 5px -3px rgba(0,0,0,0.3);
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    max-height: 100%;
    width: auto;
    background: linear-gradient(180deg, rgba(34, 31, 44, 0.00) 9.5%, rgba(34, 31, 44, 0.90) 59.56%, #221F2C 76.67%, #221F2C 99.86%);
}

.defaultSection {
    box-shadow: inset -5px 0 100px -3px rgba(0,0,0,0.3), inset 5px 0 5px -3px rgba(0,0,0,0.3);
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.containerImg2 {
    flex: 1;
    position: relative;
    top: 5vh;
    user-select: none;
}

.mainImg2 {
    width: 100%;
    position: relative;
    z-index: 2;
}

.bgImgLeft, .bgImgRight {
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
}

.secondTextContainer {
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 55vw;
}

.secondTitle {
    width: 40vw;
    font-family: "MontserratBold", sans-serif;
    font-size: clamp(2.1rem, 7vh, 3vw);
}

.secondTitleDesc {
    font-family: "MontserratBold", sans-serif;
    font-size: clamp(1rem, 3.3vh, 1.6vw);
    margin-top: 2vh;
    width: 40vw;
}

.bgImgLeft {
    left: -3%;
    top: 50%;
    height: 85%;
    transform: translateY(-50%);
}

.bgImgRight {
    right: -7%;
    height: 85%;
    top: 50%;
    transform: translateY(-50%);
}

.firstTextContainer {
    /*margin-top: 10%;*/
    left: 10%;
    width: 40%;
    color: white;
    position: relative;
    max-height: 100%;
    top: 10vw;
    /*left: 11vw;*/
    justify-content: left;
    display: flex;
    flex-direction: column;
}

.firstTitle {
    width: 45vw;
    font-family: "MontserratBold", sans-serif;
    font-size: clamp(2.1rem, 7vh, 3vw);
}

.highlight {
    font-family: "MontserratBold", sans-serif;
    font-size: clamp(2.1rem, 7vh, 3vw);
    background-image: linear-gradient(to right, rgba(94, 211, 208, 1),rgba(135, 80, 243, 1) );
    color: transparent;
    background-clip: text;
}

.firstTitleDesc {
    font-family: "MontserratBold", sans-serif;
    font-size: clamp(1rem, 3.3vh, 1.6vw);
    margin-top: 2vh;
}

.mobileImg1 {
    display: none;
}

.gradient-shadow{
    display: none;
}

.mainBtn::before {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    content: 'Попробуйте бесплатно';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(135, 80, 243, 1), rgba(168, 123, 255, 1));
    box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.3s ease;
    transform-origin: center;
}

.mainBtn:hover::before {
    opacity: 1;
}

.smallSection {
    position: relative;
    flex: 1;
    min-width: 100%;
    height: 50vh;
    min-height: 330px;
    background: linear-gradient(to right, rgba(94, 211, 208, 1), rgba(137, 162, 251, 1));
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cardBoxImgMobile, .fullGrowthTreeMobile, .halfTreesMobile, .treeBoxImgMobile {
    display: none;
}

.smallCardBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 3;
    min-width: 70vw;
    height: 24vh;
    min-height: 150px;
    border-radius: 12px;
    background: rgba(34, 31, 44, 1);
}

.cardBoxText {
    max-width: 43%;
    font-size: clamp(0.7rem, 4vh, 2vw);
    color: white;
    font-family: "MontserratBold", sans-serif;
    position: absolute;
    left: 0;
    margin-left: 5vw;
}

.mobileRoad, .shadowGamma{
    display: none;
}

.road_divider_mobile {
    display: flex;
    width: 100%;
}

.roadMobile{
    display: none;
}

.blocksMobile {
    display: none;
}

.road {
    min-height: 500px;
    min-width: 768px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.roadImg {
    min-height: 300px;
    width: 100%;
    position: absolute;
    transform: translateY(100%);
    bottom:80%;
    z-index: 1;
}
.laneImg {
    min-height: 240px;
    width: 100%;
    bottom:85%;
    transform: translateY(123%);
    position: absolute;
    z-index: 2;
}
.location1, .location2, .location3, .location4, .location5{
    position: absolute;
    width: 4%;
}
.location1 {
    left: 22%;
    top: 17%;
    z-index: 4;
}

.location2 {
    left: 35%;
    top: 17%;
    z-index: 4;
}

.location3 {
    left: 48%;
    top: 44%;
    z-index: 4;
}

.location4 {
    left: 61%;
    top: 37%;
    z-index: 4;
}

.location5 {
    left: 74%;
    top: 58%;
    z-index: 4;
}
.blocksRoadmap {
    min-height: 30vh;
    position: relative;
    display: flex;
    flex-direction: row;
}

.roadmapBlock1, .roadmapBlock2, .roadmapBlock3, .roadmapBlock4, .roadmapBlock5{
    position: absolute;
    width: 11%;
    height: 42%;
    border-radius: 6px;
    min-width: 80px;
    min-height: 80px;
    background: rgba(57, 53, 71, 1);
}
.roadmapBlock1, .roadmapBlock2, .roadmapBlock3, .roadmapBlock4, .roadmapBlock5 {
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "MontserratBold", sans-serif;
    font-size: clamp(0.6em, 1.7vw, 2vh);
    z-index: 1;
}

.roadmapBlock1 {
    left: 18%;
}
.roadmapBlock2 {
    left: 31%;
}
.roadmapBlock3 {
    left: 44%;
}
.roadmapBlock4 {
    left: 57%;
}
.roadmapBlock5 {
    left: 70%;
}

.blockCircle1, .blockCircle2, .blockCircle3, .blockCircle4, .blockCircle5 {
    position: absolute;
    top: 10%;
    z-index: 3;
    font-family: "MontserratBold", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.8rem, 4vh, 1.5vw);
    min-font-size: 0.4em;
    color: rgba(57, 53, 71, 1);
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
    min-height: 40px;
    min-width: 40px;
}
.blockCircle1 {
    background: rgba(126, 255, 193, 1);
    left: 22%;
}

.blockCircle2 {
    background: rgba(255, 170, 91, 1);
    left: 35%;
}
.blockCircle3 {
    background: rgba(166, 137, 251, 1);
    left: 48%;
}

.blockCircle4 {
    background: rgba(253, 236, 88, 1);
    left: 61%;
}

.blockCircle5 {
    background: rgba(99, 143, 255, 1);
    left: 74%;
}

.roadmap {
    display: flex;
    flex-direction: column;
    user-select: none;

    min-height: 650px;
    height: 100vh;
    width: 100%;
    box-shadow: inset -5px 0 100px -3px rgba(0,0,0,0.3), inset 5px 0 5px -3px rgba(0,0,0,0.3);
}

.treeBoxImg {
    right:5%;
}

.halfTrees {
    transform: translateY(23%);
    height: 60%;
    right: -2%;
    bottom: 0;
    position: absolute;
    z-index: 2;
    object-fit: contain;
}


.cardBoxImg, .treeBoxImg {
    height: 115%;
    width:auto;
    position: absolute;
    transform:translateX(25%);
}


.fullGrowthTree {
    position: absolute;
    height: 100%;
    width: auto;
    left: 0;
    top: 0;
    object-fit: contain;
    z-index: 2;
}

.mainBtn {
    user-select: none;
    font-family: "MontserratBold", sans-serif;
    position: relative;
    font-size: clamp(1.5rem, 5vh, 1.6vw);
    color: white;
    margin-top: 7vh;
    width: 35%;
    min-width: 180px;
    min-height: 140px;
    height: clamp(1rem, 5vw, 9vh);
    border-radius: 1rem;
    background: linear-gradient(90deg, #5ED3D0 0%, #83A4F6 50.52%, #8750F3 100%);
    box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: transform 0.3s ease;
}